// Gris panel default: DAD8CE
// Gris panel selected: 75736E

:root {
    --fontFamily: Arial, Helvetica, sans-serif;
    --Environment-backgroundColor: black;
    --Environment-color: white;
    --Environment-isSticked-backgroundColor: yellow;
    --Environment-production-backgroundColor: #04549E;
    --Environment-development-backgroundColor: #E45E55;
}

.Environment {
    font-family: var(--fontFamily);
    background: var(--Environment-backgroundColor);
    color: var(--Environment-color);
    position: absolute;
    right: -30px;
    transform: rotate(45deg);
    width: 150px;
    text-align: center;
}

.Environment--development {
    background: var(--Environment-development-backgroundColor)
}
.Environment--production {
    background: var(--Environment-production-backgroundColor)
}