:root {
  --base-fontFamily: Arial, Helvetica, sans-serif;
  --base-fontSize: 16px;
  --base-lineHeight: 16px;

  --colorWhite: #fff;
  --colorBlack: #000;

  --colorGreen: #1eb046;
  --colorDarkGreen: #178435;

  --colorDarkBlue: #04549e;
  --colorBlue: #1e97b0;
  --colorLightBlue: #85a6b5;

  --colorRed: #e45e55;

  --colorDarkGray: #777;
}
