@import "../../node_modules/normalize.css/normalize.css";
@import "suitcss-base";
@import "./_variables.scss";
@import "./components/_base.scss";

:root {
  --base-color: inherit;
}

html {
  color: var(--base-color);
  font-family: var(--base-fontFamily);
  font-size: var(--base-fontSize);
}

h1 {
  font-size: calc(var(--base-fontSize) * 3);
  line-height: calc(var(--base-lineHeight) * 3);
}

@media (min-width: 1024px) {

  #root {
    margin: 0 auto;
    width: 954px;
  }
}
